.FormularioCadastro{
    border:1px solid white;
    margin-left:28%;
    margin-right:2%;
    width:600px;
}
.FormularioCadastro td{
    margin:0;
    padding:0;
}
.FormularioCadastro tr{
    margin:0;
    padding:0;
}
.field{
    padding: 5px;
}

.field input, .field select{
    font-size: 15px;
    padding: 5px;
}

.button{
    margin-left: 5px;
    font-weight: bold;
    line-height: 1;
    padding: 6px 10px;
    cursor:pointer;
    text-align: center;
}

.link{
    color:#000000;
    cursor: pointer;
}

.tabela_consulta{
    width: 100%;
    text-align: center;
}

.tabela_consulta td{
    border-bottom: 1px solid black;
    padding: 2px;
    color: white;
}

.tabela_consulta th{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
    text-align: center;
    display: fixed;
}

.tabela_consulta tr{
    font-weight: bolder;
    height:5px;
    overflow:auto;
}

.fundo_tabela{
    background-color: gray;
}

.botaoAcao{
    float:right;
    margin-right: 30%;
}
/*INPUTS TYPE=CEHCKBOX E TYPE=RADIO */

input[type="radio"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}
input[type="checkbox"],
input[type="radio"]{
    border-radius: 100%;
}
label + input[type="checkbox"],
label + input[type="radio"]:focus:before{
    background-color: transparent;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 100;
    padding-left: 2.55em;
    padding-right: 0.75em;
    position: relative;
    text-transform: none !important;
    width: 1.8em;
    height: 1.8em;
}