
*{    padding:0;    margin:0px auto   }


body{   text-align:center;    font-family:arial;   background-color:#ffffff;   font-size:12px;
    color:#ffffff}


#container{   width:949px;    background-color:#333333}


a{    text-decoration:none;   color:#ffffff;    }


#menu{    background: url("images/menu_part.png") no-repeat top left ;   width:949px;    height:44px;
    text-transform:uppercase}


a:hover{ text-decoration:underline}


#menu img{    text-align:left;    float:left;   margin-left: 3px;    padding-top:1px;   border:0px}


#menu ul{   list-style:none;    margin-left:254px;    line-height:44px;}


#menu ul li {    float:left;  width:138px;    height:44px}


#header{    width:949px;    height:181px;   margin-bottom:8px;}


#header_left{   background: url("images/header_left.jpg") no-repeat top left ;   width:442px;    height:181px;
    float:left;   }
    
    
#header_right{   background: url("images/header_right.jpg") no-repeat top left ;   width:507px;    height:181px;
    float:left;}


#header_left #name {    width:270px;    height:70px;   text-align:right;   font-family:Tahoma;
       margin:50px 0px 0px 6px;   _margin:50px 0px 0px -160px;}
    
    
#header_left #name h1{   font-family:Tahoma;
    font-weight:normal;   font-size:36px;   height:40px;   margin-bottom:-15px;   _margin-bottom:2px}


#header_left #name h1 a{   font-size:16px;   font-weight:normal;    }


#middle_part{   width:949px;    height:150px;   margin-bottom:2px;    font-size:11px;   text-align:left;} 


#middle_part h2{  font-size:14px;   margin:12px 0px 2px 25px;   text-transform:uppercase}


#middle_part p{   width:300px;}


#middle_part .title2{    margin-bottom:8px;}


#middle_part a{   font-size:12px;    margin-left:233px;}


#middle_part .box1{   background: url("images/blue.png") no-repeat top left ;   width:316px;    height:150px;
    float:left;   }
    

#middle_part .box2{   background: url("images/orange.png") no-repeat top left ;   width:315px;    height:150px;
    float:left;   margin:0px 1px 0px 1px;}
    
    
#middle_part .box3{   background: url("images/green.png") no-repeat top left ;   width:316px;    height:150px;
    float:left;}


#article_box{background: url("images/article_bg.png") repeat top left ; padding-bottom:15px;}


#article{   width:949px;    }


#article h3{    text-transform:uppercase;   font-size:14px;   height:46px;
    background: url("images/line.gif") no-repeat bottom ;    font-weight:normal;   line-height:46px;
    margin-bottom:6px;}


#article #product{   width:316px;   float:left;    line-height:15px;  }


#article #product ul{   list-style: none;   padding-left: 14px;       }


#article #product ul li ul{   list-style: none;   padding-left: 0px;       }


#article #product ul li{   padding-left:15px;   background: url("images/arrow.gif") 0px 6px no-repeat;   text-align:left;    margin:2px 0px -1px 0px; }


#article #product ul li a{    color: #BED8F6;   text-decoration: none;    font-weight:normal;   line-height:20px;   font-size: 13px;}


#article #product ul li ul li ul a{    color: #ffffff;   text-decoration: none;   font-size: 12px   ;line-height:12px; font-weight:normal;    }


#article #product ul a:hover{   text-decoration: underline;}






#article #about{   width:315px;   float:left;   margin:0px 1px 0px 1px;
    }
    

#article #about p{    width:295px;    margin:13px 0px 0px 11px;    text-align:left;
    _margin:14px 0px 0px 3px;   }


#article #about h4{   color:#F6B601;    font-size:14px;   margin:0px 0px -4px 11px;    text-align:left;
    line-height:30px;   _line-height:29px;    font-weight:normal;}


#article #about span{   color:#F6B601;}


#article #news{   width:316px;    float:left;   }


#article #news h5{   color:#B8CB34;    font-size:14px;   margin:0px 0px -4px 11px;    text-align:left;
    line-height:29px;   _line-height:29px;    font-weight:normal;   _margin:0px 0px -4px 10px;}


#article #news p{    width:300px;    margin:2px 0px 8px 11px;    text-align:left;
    _margin:3px 0px 7px 3px;   }
    

.cleaner{   clear:both    }


#bottom{    float:left;   font-size:12px;   line-height:40px;   color:2f3240;
    width:949px;    height:40px;    background:url("images/bottom_part.png") no-repeat top left ;
    font-weight:normal;   background-color: #333333}


#validator{text-align:right;    width:949px;    height:31px;  }


#validator img{height:31px;   width:88px;   border:0px solid #ffffff}
